{% if exists("moduleBreadcrumbs") -%}
**Module:** {%- for module in moduleBreadcrumbs -%}
 **[{{module.title}}]({{module.safeAnchorId}})**{% if not loop.is_last %} **/** {% endif -%}
{% endfor %}

{% endif -%}