---
{% if exists("title") -%}
title: "{{lower(title(kind))}} {{replace(title, "\"", "")}}"
{% else if exists("name") -%}
title: "{{replace(name, "\"", "")}}"
{% endif -%}
{% if exists("brief") -%}
description: "{{replace(brief, "\"", "")}}"
{% else if exists("summary") -%}
description: "{{replace(summary, "\"", "")}}"
{% else %}
description: "[No description available]"
{% endif -%}
{% include "meta" %}
---

{% if exists("title") -%}
# {{lower(title(kind))}} {{title}}
{% else if exists("kind") and kind != "page" -%}
# {{name}} {{title(kind)}} Reference
{% endif %}
